<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document Summarizer</title>
    <style>
        body { background-color: #A0C5B4;
               background-image: url('/static/img/bgpic.jpg'); 
               background-size: 50% 100%;
               background-position: 300px 300px;
               background-repeat: no-repeat;}
    </style>
</head>
<body>
<div align="center">
    <h1>EC500 Project Document Summarizer</h1>
    <form method='post' enctype=multipart/form-data>
        <br><center>     Choose your file <input type=file name=file value = file> </center>
        <br> 
        <br>Please enter the name for sumarized file: <input type=text name=newname>
        <br>Please enter number of summarized sentences: <input type=text name=no1>
        <br><center><input type=submit name = 'BTN' value= 'Download_Summary'></center></br>
        <br>
        <br>Please enter the name for sumarized file: <input type=text name=keywords>
        <br>Please enter number of extracted words: <input type=text name=no2>
        <br><center><input type=submit name = 'BTN' value= 'Download_Keywords'></center></br>
    </form>   
</div>
</body>
</html>
